* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  display: flex;
  justify-content: center;
}

.video {
  position: fixed;
  max-width: 100%;
  height: 100vh;
  object-fit: cover;
}
